body {
        margin: 0;
        float: none;
        width: auto;
        height: 100%;
}

html {
    margin: 0;
}

main {
    padding: 2%;
    text-align: center;
    margin: 10%;
}
li {
    list-style-type: none;
}

img {
    max-width: 100%;
}

hr {
        border-top: 1px solid #eee;
        width: 60%;
}

/*VIEWPORT SETTINGS
=======================================*/
@viewport {
    width: device-width;
    zoom: 1;
}

/*LINKS
=======================================*/
nav a, nav a:link {
        text-decoration: none;
        color: white;
}
nav a:hover {
    color: #fdcd3b;
}

/*BUTTONS
=======================================*/
button {
    background-color: #2a3a3f;
}
button a {
    color:white;
}
    
button:hover {
    background-color: #263439;
    color:white;
}

button a:hover {
    color: white;
}


/*HEADER
=======================================*/
header {
    width: 100%;
    display: inline-block;
    padding: 20px;
    background-color: #2a3a3f;
    color: white;
}
header section {
    float:left;
}
h1 {
    color:white;
    font-family: 'Oswald', sans-serif;
    flex-grow: 8;
}



/*FORM
=======================================*/
form {
    width: auto;
    margin: 0 auto;
}

legend {
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    background-color: transparent;
    margin: 0 auto;
}
fieldset {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border: none;
    margin: 0 auto;
    padding: 0 20%;
    text-align: center;

}


/*FOOTER
=======================================*/
footer {
    background-color: #2a3a3f;
    color: white;
    width: 100%;
    margin: 0;
    position: absolute;
    text-align: center;
}