/*     base styles Mobile    */
@media screen and (min-width: 400px) {

    body {
        margin: 0;
        text-align: center;
        float: none;
        width: auto;
    }


}

/*     base styles Desktop    */
@media screen and (min-width: 1000px) {

}
