/*      Add hamburger icon */
@font-face {
    font-family: 'icomoon';
		src: url('fonts/icomoon.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon-menu:before {
  content: "\e9be";
}

/*      TRY ADDING FILES FROM THE LAB */