.hidden {
    display: none;
}

.main-nav {
    margin: 0 auto;
}

/*LINKS
=======================================*/
.read-on,.show-less {
        text-decoration: none;
        color: black;
}

.read-on:hover, .show-less:hover{
    color: #1EAEDB;
}

/*ABOUT ME
=======================================*/
#about-me {
    display:table;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
}
header h4 {
    font-size: 2rem;
}

#about-web {
    display:table-cell;
    padding: 0 2%;
}

#about-design{
    display:table-cell;
    padding: 0 2%;
}

#about-beer{
    display:table-cell;
    padding: 0 2%;
}

.icon-embed2, .icon-display, .icon-glass {
    font-size: 2em;
}

/*PROJECTS
=======================================*/
#projects {
    background-color: lightgrey;
}
/*article {
    display: flex;
    flex-direction: row;
}
article section {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    height: fit-content;
}
article h2 {
    order: 1;
}
article h4 {
    order: 2;
}
.read-on {
    order:3;
}*/

/*FOOTER
=======================================*/
footer p {
    order: 1;
    padding-left: 1%;
}
footer #social-media {
    order: 2;
    padding-right: 1%;
}
footer span {
    margin: 0 5px;
}

