/*     media queries   */
@viewport {
    width: device-width;
    zoom: 1;
}

@media screen and (min-width: 400px) {
/*     header, main, footer     */
    
    header {
        width: auto;
        display: flex;
        flex-direction: row;
        align-content: center;
        padding: 20px;
        background-color: lightgray;
    }

    .main-nav ul {
        display: none;
        padding: 0;
        list-style: none;
        clear: both;
    }

    a {
        text-decoration: none;
        color: white;
    }
    li {
        list-style-type: none;
    }
    .main-nav:hover ul {
        display: block;
        float: right;
    }

    .main-nav {
    font-size: 2em;
    float: right;
    }

    h1 {
        color:white;
        font-family: 'Oswald', sans-serif;
    }

    hr {
        border-top: 1px solid lightgrey;
        width: 60%;
    }

    form {
        width: 50%;
        text-align: center;
        margin: 0 auto;
        display: inline-block;
    }

    legend {
        font-family: 'Anton', sans-serif;
        font-size: 2em;
        text-align: center;
    }
    fieldset {
        border: none;
    }
    footer {
        background-color: black;
        color: white;
    }
}



@media screen and (min-width: 1000px) {

}

@media screen and (min-width: 1400px) {

}