@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?5gx53k');
  src:  url('fonts/icomoon.eot?5gx53k#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?5gx53k') format('truetype'),
    url('fonts/icomoon.woff?5gx53k') format('woff'),
    url('fonts/icomoon.svg?5gx53k#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e942";
}
.icon-keyboard:before {
  content: "\e955";
}
.icon-display:before {
  content: "\e956";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-glass:before {
  content: "\e9a0";
}
.icon-menu:before {
  content: "\1f306";
}
.icon-menu3:before {
  content: "\e9bf";
}
.icon-arrow-up2:before {
  content: "\ea3a";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-arrow-down2:before {
  content: "\ea3e";
}
.icon-embed2:before {
  content: "\ea80";
}
.icon-mail4:before {
  content: "\ea86";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-pinterest:before {
  content: "\ead1";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-mail:before {
  content: "\ea83";
}
.icon-github:before {
  content: "\eab0";
}
