/*MOBILE - fonts, navigation, images
=======================================*/
@media screen and (min-device-width : 320px) and (max-device-width : 600px) {
    header h1 {
        line-height: 5rem;
        font-size: 3em;
    }

    header p {
        line-height: 1.5rem;
        font-size: .8em;
        margin: 2% 10%;
    }

    main h2 {
        font-size: 2em;
        font-weight: 800;
        margin-bottom: 2%;
    }

    main h5 {
        font-size: 1.25em;
        font-weight: 700;
        margin-bottom: 2%;
    }
    main h6 {
        font-size: .75em;
        font-weight: 400;
        margin-bottom: 2%;
    }

    .icon-embed2 {
        font-size: 2em;
    }

    .icon-display {
        font-size: 2em;
    }

    .main-nav {
        display: inline-block;
        width: 80vw;
        margin: 0 auto;
    }

    img {
        width: 100%;
        height: 100%;
        position: relative;
    }

    /*FOOTER
    =======================================*/
    footer {
        background-color: black;
        color: white;
        width: 100%;
        margin: 0;
        display: block;
        position:absolute;
        text-align: center;
        padding: 5% 0;
    }

    footer p {
        position: relative;
        margin: 1% 0;
        display: block;
        font-size: .8em;
    }

    footer div {
        position: relative;
        font-size: 1.5em;
    }

}

/*DESKTOP
    =======================================*/
@media screen and (min-width: 600px){
    .main-nav {
        margin: 0 auto;
        width: 50vw;
    }

    .mobile-br {
        display: none;
    }

    #nav-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 auto;
    }

    #nav-list li a:hover {
        text-decoration: underline;
    }

    

    /*LINKS
    =======================================*/
    .read-on,.show-less {
        text-decoration: none;
        color: black;
    }

    .read-on:hover, .show-less:hover{
        color: #1EAEDB;
    }

    /*ABOUT ME
    =======================================*/
    #about-me {
        display:table;
        flex-direction: row;
        justify-content: center;
        margin: 5% 10%;
    }

    #about-web {
        display:table-cell;
        padding: 0 2%;
    }

    #about-design{
        display:table-cell;
        padding: 0 2%;
    }

    #about-beer{
        display:table-cell;
        padding: 0 2%;
    }

    .icon-embed2, .icon-display, .icon-glass {
        font-size: 3em;
        color: darkcyan;
    }

    #github-photo {
        border-radius: 50%;
        margin-bottom: 5%;
        margin-top: 5%;
    }

    /*PROJECTS
    =======================================*/
    #projects {
        /*background-color: lightgrey;*/
        display: block;
    }
    article {
        display:flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .project-body {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 100%;
    }
        
    #project-text {
        margin-left: 7%;
    }
    .project-links a {
        padding: 0 5%;
        width: 100%;
    }

    .project-body a, .project-links a {
        font-size: .8em;
    }



    /*FOOTER
    =======================================*/
    footer {
        background-color: black;
        color: white;
        width: 100%;
        margin: 0;
        display: block;
        position:absolute;
        text-align: center;
    }

    footer p {
        position: relative;
        margin: 1% 0;
        width: 100vw;
        display: block;
        font-size: 1em;
    }

    footer div {
        position: relative;
        font-size: 2em;
    }

    footer a {
        color: white;
    }

}

