.hidden {
    display: none;
}

.main-nav {
    margin: 0 auto;
}

/*LINKS
=======================================*/
.read-on,.show-less {
    text-decoration: none;
    color: black;
}

.read-on:hover, .show-less:hover{
    color: #1EAEDB;
}

/*ABOUT ME
=======================================*/
#about-me {
    display:table;
    flex-direction: row;
    justify-content: center;
    margin: 5% 10%;
}

#about-web {
    display:table-cell;
    padding: 0 2%;
}

#about-design{
    display:table-cell;
    padding: 0 2%;
}

#about-beer{
    display:table-cell;
    padding: 0 2%;
}

.icon-embed2, .icon-display, .icon-glass {
    font-size: 3em;
    color: darkcyan;
}

/*PROJECTS
=======================================*/
#projects {
    /*background-color: lightgrey;*/
    display: block;
}
article {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.project-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
}
.project-links a {
    padding: 0 5%;
    width: 100%;
}



/*FOOTER
=======================================*/
footer #name {
    order: 1;
    padding-left: 1%;
    text-align: left;
}
footer #social-media {
    order: 2;
    padding-right: 1%;
}
footer span {
    margin: 0 5px;
}

